.order {
  &__wrapper {
    @include media(padding, (2rem, 1rem, 0));
  }

  &__perfumes {
    @include grid(1fr, auto);
    gap: 1rem;
    margin-bottom: 2rem;

    &__item {
      @include grid(150px 1fr, auto);
      gap: 1rem;

      &__count {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        @include flex(row, center, center);
        background-color: var(--primary-color);
        color: #fff;
        font-size: 12px;
      }

      &__image {
        position: relative;
        width: 100%;
        height: 130px;

        img {
          @include fitImage(center, cover);
          border-radius: 10px;
        }
      }

      &__info {
        @include flex(row, space-between, center);

        .left {
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  &__results {
    margin-top: 1rem;
    &__item {
      @include flex(row, space-between, center);
    }
  }
}
